@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-figtree: var(--font-figtree);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-gray-600: var(--gray-600);
  --color-gray-900: var(--gray-900);
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
  --background-image-brand-gradient: var(--brand-gradient);

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --radius: 0.5rem;
  --gray-600: #535862;
  --gray-900: #181D27;
  --brand-gradient: linear-gradient(135deg, #f8f9fa 0%, #64d2ff 25%, #5e5ce6 50%, #ff2d55 75%, #ff9f0a 100%);
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --border: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer components {
  .page_container {
    @apply w-full max-w-170 md:max-w-256 lg:max-w-360 px-4 md:px-6 lg:px-8 mx-auto;
  }

  .section_container {
    @apply w-full max-w-160 md:max-w-236 lg:max-w-320 px-4 md:px-6 lg:px-8 mx-auto;
  }
}

.element {
  animation: rotate 2s linear infinite;
}